<style>

  body {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    background-size: cover;
  }

</style>


  <div class="landingpageframe col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" >

    <div class="landingpageinnerframe col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"> 

      <ul id="landing_page_central_list">
        <li>
          <p><h1 id="landing_page_payoff">The instant-hiring platform. Get started!</h1></p>
        </li>
        <li>
          <form id="landing_page_search_box" method="post" class='landingpagesubmitbutton'>
            <input type="text" id="landing_page_searchTextField" placeholder="Find a job in..." class='form-control'>
            <input type="submit" style='visibility:hidden' value="Search" class='btn btn-primary'>
          </form>
        </li>
      </ul>

    </div>

  </div>

</div>



