    
<style>

.header {
	margin-bottom: 100px;
}

.jumbotron {
	height: 200px;
	margin: 50px;
}


</style>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/jobs/new">Post a Job</a></li>
        </ul>
        <h3 class="text-muted"><h1>w<span class="glyphicon glyphicon-map-marker"></span>rkmap</h1></h3>
      </div>

      <div class="jumbotron">
        <div class="searchbox">

			<form id="landing_page_search_box" method="post" >
				<input type="text" id="landing_page_searchTextField" placeholder="Address">
				<input type="submit" value="Search">
			</form>



		</div>
      </div>


    </div> 