<div class='header'>
	<h1>WorkMap</h1>
</div>

<div class='container'>

	<div id="search">
		<form id="search_box" method="post">
			<input type="text" address="test" id="searchTextField" placeholder="Address">
			<input type="submit" value="Search">
		</form>
	</div>

	<div id="map"></div>

</div>
<div class='footer'>
	<h4></h4>
</div>