/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap-slider
*/

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url(https://dl.dropboxusercontent.com/u/9315601/fonts/helveticaneue-ultralight-webfont.ttf);
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url(https://dl.dropboxusercontent.com/u/9315601/fonts/HelveticaNeue-Light.ttf);
}

#user_image{
    color: white;
  }

.navbar-inverse .navbar-brand {
color: #FFF;
font-size: 40px;
letter-spacing: -1px;
padding-top: 5px;

}


.glyphicon {
top: 10px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
font-size: 32px;
}

body {
    font-family: "HelveticaNeue-UltraLight", "HelveticaNeue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-size: cover;
  }

.col-md-8 {
padding-left: 0px;
padding-right: 0px;
}

.col-md-4 {
padding-left: 0px;
padding-right: 0px;
}

ul, ol {
padding: 0px;
margin: 0px;
}


.container-fluid {
	.row {
		margin: 0px;
	}
}

.modal {
position: fixed;
top: 50%;
left: 50%;
margin-top: -175px; 
margin-left: -225px;
width: 400px;
height: 380px;
background:rgba(0,0,0,0.7);
border-radius: 10px;
}

.modal-header {
font-family: 'HelveticaNeue-UltraLight';
color: white;
font-size: 20px;
}

.modal_form {
font-family: 'HelveticaNeue-Light';
color: white;
font-size: 15px;
margin-top: 10px;
margin_bottom:10px;
}

.landing_page_login_link {
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
color: white !important;
font-size: 20px;
}

p {
margin: 0px;
}

.btn {
margin-top: 10px;
}

.close {
	color: white;
}

.btn-success {
color: white;
background-color: #7D8A2E;
border-color: #7D8A2E;
}

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}