/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap-slider
*/


@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url(https://dl.dropboxusercontent.com/u/9315601/fonts/helveticaneue-ultralight-webfont.ttf);
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url(https://dl.dropboxusercontent.com/u/9315601/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url(https://dl.dropboxusercontent.com/u/9315601/fonts/HelveticaNeue-Bold.ttf);
}

#user_image{
    color: white;
  }
  #user_cv{
    color: white;
  }

  a:focus {
/*   color: #222222 !important;
   border-size: none !important;*/
   }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.navbar-inverse .navbar-brand {
color: #FFF;
font-size: 40px;
letter-spacing: -1px;
padding-top: 5px;

}

.glyphicon {
top: 10px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
font-size: 32px;
}

body {
    font-family: "HelveticaNeue-UltraLight", "HelveticaNeue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-size: cover;
  }



.col-md-8 {
padding-left: 0px;
padding-right: 0px;
}

.col-md-4 {
padding-left: 0px;
padding-right: 0px;
}

ul, ol {
padding: 0px;
margin: 0px;
}

input {
  font-family: 'HelveticaNeue-Bold';
}


.container-fluid {
	.row {
		margin: 0px;
	}
}

.modal {
position: fixed;
top: 50%;
left: 50%;
background:rgba(0,0,0,0.7);
border-radius: 10px;
}

textarea {
  font-family: 'HelveticaNeue-Bold';
}

#employer_login {
  margin-top: -200px; 
  margin-left: -200px;
  width:400px;
  height:400px;
}

#employer_signup {
  margin-top: -220px; 
  margin-left: -200px;
  width:400px;
  height:440px;
}

#employer_edit {
  margin-top: -220px; 
  margin-left: -200px;
  width:400px;
  height:440px;
}

#user_login {
  margin-top: -215px; 
  margin-left: -200px;
  width:400px;
  height:400px;
}

#user_edit {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

#user_signup {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

#user_edit {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

#job_new {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

#job_application {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

#submission_confirmation {
  margin-top: -250px; 
  margin-left: -200px;
  width:400px;
  height:500px;
}

.modal-header {
font-family: 'HelveticaNeue-UltraLight';
color: white;
font-size: 20px;
}

.modal_form {
font-family: 'HelveticaNeue-Light';
color: white;
font-size: 15px;
margin-top: 10px;
margin_bottom:10px;
}

.landing_page_login_link {
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
color: white !important;
font-size: 20px;
}

p {
margin: 0px;
}

.btn {
margin-top: 10px;
}

.close {
	color: white;
}

.btn-small {
color: white;
background-color: #7D8A2E;
border-color: #7D8A2E;
}

.btn-small:hover {
  color: white;
  background-color: #7D8A2E;
  border-color: #7D8A2E;
}

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

.navbar-nav {
  background-color: #222222;
}

.alert {
  background-color: #FCF8E3;
  /*color: #ffffff;*/
  color: #000000;
  position: fixed;
  bottom: -20px;
  font-family: Lato;
  z-index: 1000;
  width: 100%;
   .close-alert{
    color: #000000;
  }
}



