.jobs_filter {
	height: 40%;
	width: 100%;
	overflow: scroll;
	color: black;
	background-color: #F5F5F5;
	.btn-success {
		background-color: #C9D787;
		border: none;
		border-radius: 0px;
		color: #000;
		font-family: Lato;
		font-weight: normal;
}
}

.jobs_filter label{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
	font-family: Lato;
	color: black;

}

.advert_column {
	/*background-color: orange;*/
	height: 100%;
	overflow: scroll;
}

.panel-body {
	padding: 0;
	font-family: Lato;
}

.filter {
  padding-top: 15px;
  font-size: 16px;
	font-weight: bold;
	padding-bottom: 25px;
	text-align: center;

		.checkbox-inline {
		  padding-left: 0px;
		  padding-bottom: 12px;
		  cursor: pointer;
		}
}

.full_time_select_box {
	width: 155px;
	margin-left: 38px;
}

.search_button {
	text-align: right;
	margin-right: 48px;
	margin-bottom: 27px;
}

#distanceSlider .slider-selection {
background: #C9D787;

}

#wageSlider .slider-selection {
background: #C9D787;
}

#distanceSlider .slider-handle{
background: #FFF;
border: 1px;
border-color: #C9D787;

}

#wageSlider .slider-handle {
background: #FFF;
}