// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body { 
	height: 100%;
	width: 100%;
/*	background-color: yellow;*/
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	padding-top: 50px;
}
label {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar {
	height: 50px;
}

.navbar-brand {
	padding-left: 25px;
}

.navbar-toggle {
	margin-right: 25px;
}

.container {
	max-width: 100%;
}

.container-fluid {
	height: 100%;
	padding: 0px;
}

.col-md-7, .col-sm-7, .col-xs-7, .col-md-5, .col-sm-5, .col-xs-5 {
	padding: 0;
}

.jobpageleftside, {
	height: 100%;
	/*background-color: green;*/

	#map {
		height: 100%;
		width: 100%;
		position: relative;
	}
}

#searchTextField {
	height: 60px;
	font-size: 30px;
	padding: 10px;
	width: 100%;
}

#jobpagerightside {
	height: 100%;
/*	background-color: red;*/
}

/*#test {
	background-color: red;
}
#test2 {
	background-color: yellow;
}
#test3 {
	background-color: gray;
}
#test4 {
	background-color: green;
}
#test5 {
	background-color: orange;
}
#test6 {
	background-color: black;
}*/



.jobs_filter {
	height: 40%;
	width: 100%;
	overflow: scroll;
	/*background-color: blue;*/
	font-size: 17px;
}

.advert_column {
	/*background-color: orange;*/
	height: 100%;
	overflow: scroll;
}

.filter {
	text-align: center;
	.checkbox-inline {
	  padding-left: 0px;
	  cursor: pointer;
	}
}

.search_button {
	text-align: center;
}



#searchLayoutMapResults {
	position: fixed;
}

#map_canvas {
	width: 58.25%%;
	height: calc(100% - 110px);
	position:fixed;
	top:110px;
	left:0;
	bottom:0;
}

.advert_info {
	overflow: scroll;
/*	height: 100%;
	width: 100%;*/
	display: table;
	border-bottom-style: solid;
	border-bottom-size: 1px;
	border-bottom-color: #FFC0A9;
	font-family: 'HelveticaNeue-Light';
	
	div {
		display: inline;
		display: table-cell;
		width: 150px;
		height: 100px;
		font-size: 20px;
		vertical-align: middle;
		text-align: center;
	}

	.category {
	color: #7D8A2E; 
	}
	
	.wage {
	color: #FF8598;
	}

	.full_time {
	color: #C9D787; 
	}
	
	.company {
	color: #FF8598;
	}

}


