// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body { 
	height: 100%;
	width: 100%;
/*	background-color: yellow;*/
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	padding-top: 60px;
}
label {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar {
	height: 60px;
}

.navbar-brand {
	padding-left: 25px;

}

.navbar-toggle {
	margin-right: 25px;
}

.navbar-header {
	padding-top: 3px;
}

.navbar-nav {
	padding-top: 5px;
}

.navbar-inverse {
	border: none;
}

.container {
	max-width: 100%;
}

.container-fluid {
	height: 100%;
	padding: 0px;
}

.col-md-7, .col-sm-7, .col-xs-7, .col-md-5, .col-sm-5, .col-xs-5 {
	padding: 0;
}

.jobpageleftside, {
	height: 100%;
	/*background-color: green;*/

	#map {
		height: 100%;
		width: 100%;
		position: relative;
	}
}

.searchTextField {
	height: 40px;
	font-size: 16px;
	padding: 10px;
	width: calc(100% - 50px);
	float: right;
	border: none;
	font-family: Lato;
	color: black;
}

.search_box {
	.glyphicon-search {
		font-size: 23px;
		top: 0;
		padding-top: 9px;
		padding-left: 12px;
/*		background-color: yellow;*/
	}
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

.panel-default {
	border: none;
		.panel-heading{
	background-color: #C9D787;
	}
}



#jobpagerightside {
	height: 100%;
	font-family: Lato;
	overflow: hidden;
/*	background-color: red;*/
}

/*#test {
	background-color: red;
}
#test2 {
	background-color: yellow;
}
#test3 {
	background-color: gray;
}
#test4 {
	background-color: green;
}
#test5 {
	background-color: orange;
}
#test6 {
	background-color: black;
}*/


.panel-heading {
	height: 40px;
	font-size: 30px;
	padding: 10px;
	width: 100%;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#searchLayoutMapResults {
	position: fixed;
}

#map_canvas {
	width: 58.4%%;
	height: calc(100% - 100px);
	position:fixed;
	top: 100px;
	left:0;
	bottom:0;
}

@media (min-width: 768px) and (max-width: 992px) {
	#map_canvas {
		width: 50%;
	}
}

@media (max-width: 767px) {
	#map_canvas {
		display: none;
	}
}

.second_search {
		display: none;
}

@media (max-width: 767px){
	.second_search {
		display: inline;
	}
	.search_box {
		height: 40px;
	}

}	

span.wage {
	font-size: 24px;
}

.panel-group {
	margin-bottom: 0;
}
.panel-title {
	color: #000;
}

.advert_info:hover {
	transition: all 0.5s ease;
	background-color: #A2DAF2;
	opacity: 0.5;
}

.advert_info {
	min-height: 100px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #E0DDDD;
	
	.info_row {
		min-height: 50px;
		top: 50%;
	}

	div {
		text-align: center;
		  position: relative;
/*	  top: 50%;
	  	-webkit-transform: translateY(-50%);
	  	-ms-transform: translateY(-50%);
	  	transform: translateY(-50%);*/
	}

	.category {
	color: #000000; 
	padding-top: 30px;
	}
	
	.wage {
	color: #000000;
	padding-top: 20px;
	font-weight: bold;
	}

	.full_time {
	color: #000000; 
	padding-top: 30px;
	}
	
	.company {
	color: #000000;
	padding-top: 25px;
	}

	.company_name {
		font-size: 12px;
		/*font-weight: bolder;*/
	}

	.job_title {
		font-size: 16px;
		font-weight: bolder;
	}

	.distance {
		color: #000000;
		padding-top: 16px;
	}

	.detail {
	color: #000000;
	}

	.close {
	color: #000000;
	}

	.apply {
	color: #000000;
	}
}

.distance_location {
		padding-top: 5px;
		span {
		font-size: 24px;
		font-weight: bolder;
	}
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.slider-horizontal {
width: 100px;
}

.advert_info .more_info {
    display: none;
}

.advert_info.clicked .info {
    display: none;
}

.advert_info.clicked .more_info {
    display: block;
    height: 80px;
}

.more_info {
	a {
		color: #000000;
	}

	.btn {
		background-color: #C9D787 !important;
		border: none;
		border: none;
		border-radius: 0px;
	}

	.glyphicon {
		top: 35px;
		font-size: 20px;
	}

	.detail {
		padding-top: 18px;
		font-size: 12px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.apply {
		margin-top: 30px;
		.btn {
			background-color: #C9D787 !important;
		}
	}
	.close {
		color: #000000;
	}
}



.info_window {
	/*font-family: Leto;*/
	/*background-color: black;*/
}

 .accordion-toggle .glyphicon-chevron-up {
	display: none;
}

.collapse.in + .panel .accordion-toggle .glyphicon-chevron-up {
	display: inline;
}

.accordion-toggle .glyphicon-chevron-down {
	display: inline;
}

.collapse.in + .panel .accordion-toggle .glyphicon-chevron-down {
	display: none;
}


.panel-title {
		.glyphicon {
		top: 0;
		font-size: 20px;
		float:right;
/*		background-color: yellow;*/
	}
}

.info_window {
	.adtitle {
		font-weight: bolder;
		font-size: 14px;
	}
	.telephone {
		font-weight: bolder;
	}
}

