// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	width: 100%; 
	height: 500px;
}

.header {
	background-color: #3B7DAB;
	color: #FFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	padding: 5px 5px 5px 5px; 
}

.footer {
	background-color: #3B7DAB;
	color: #FFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

#search {
	padding: 10px 10px 10px 10px;
	background-color: #3B3B3B;
}