<%= form_tag job_charges_path(@job) do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" id="stripetestbutton" class="stripe-button"
          
          data-key="<%= Rails.application.secrets.stripe_public_key %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>